.stream-container
  canvas#video-canvas.stream-container

javascript:
  let options = {
    nodeAppUrl: '#{Rails.application.config.node_app_url}',
    serverHost: '#{Rails.application.config.server_host}',
    vehicleName: '#{params["id"]}',
    watcher: true
  }

= javascript_include_tag 'jsmpg'
= javascript_include_tag 'carpi_control/main'