= javascript_include_tag '/elm/root_module/elm'

javascript:

  var container = document.getElementById('carpi-list-container');
  var elmApp = Elm.embed(Elm.CarPiList, container, {vehicles: []})
  var socket = io('http://localhost:4001/list');

  socket.on('cars-list', function (list) {
    elmApp.ports.vehicles.send(list);
  });